services:
  # Web Service
  - type: web
    name: eventspace-app
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: JWT_SECRET
        value: mibombo_universidad_render_free
      - key: FRONTEND_URL
        value: https://eventspace-app.onrender.com
